#header-logo-bar
	@include max($screen-m)
		position: absolute
		top: 0
		left: 0
		right: units(8)
	height: $header-nav-bar-height
	@extend %content-column
	@extend %content-column-flex
	z-index: 10000
	align-items: center
	> div
		align-items: center
		justify-content: $header-logo-bar-alignment

	@include min($screen-m)
		height: $header-logo-bar-height
		background: $header-logo-bar-background

	#logo
		a
			display: block
			height: size(16)
			width: size(100)
			@include contain-background($header-logo-bar-image)

	#powered-by-ten
		height: size(14)
		width: size(120)
		@include contain-background($header-logo-bar-powered-by-ten-image)
