@import "../_pre_import.css.sass"
//
// CLIENT OVERRIDES
//
$black: #141413
//
$header-logo-bar-background: linear-gradient(to right, rgba(9,8,8,1) 0%,rgba(0,85,142,1) 100%)//$black
$header-nav-bar-border: none 
$header-nav-bar-height: units(7)
$header-nav-bar-text-transform: uppercase
$header-nav-bar-text-size: 11
$header-nav-bar-text-letter-spacing: 1px
$header-nav-bar-alignment: center//flex-start
//
$card-grid-highlight: #E2E2E2
$card-grid-highlight-title-color: $black
$card-grid-zebra: $black
$card-grid-zebra-title-color: white
//
// BASICS
//
@import "../_imports.css.sass"
//
//
//