---
title: Inspiration
---

= partial "shared/search/search_panel", :locals => { :type => "articles", :title => "Search articles" }
= partial "shared/articles/article_list", :locals => { :cards => data.articles.mixture, :total => 10 }