---
title: Affordable art fair
---

- page_data = data.details.event

= partial "shared/details/details_single_image", :locals => page_data
= partial "shared/details/details_header", :locals => page_data
#details-main
	%div
		= partial "shared/details/details_content", :locals => page_data
		= partial "shared/details/basket_summary_event", :locals => page_data