.travel-search-field
	@extend %content-column
	display: none
	margin-top: units(3)	
	
	h4
		@extend %display-0
		margin-bottom: units(1)	

	&#search-field-flights

	&#search-field-hotels

	&#search-field-cars

.travel-search-bar
	background-color: white
	border: $light-border

	@include min($screen-m)
		display: flex

	.segment
		flex: 1
		position: relative
		padding: units(2)
		&:not(:last-child)
			border-bottom: $light-border

		@include min($screen-m)
			padding: units(1)
			border-bottom: none
			&:not(:last-child)
				border-bottom: none
				border-right: $light-border

		label
			@extend %caption
			text-transform: uppercase
			@extend %bold

		input[type="text"]
			border: none
			@extend %body-2
			outline: none
			&:focus
				border: none
				outline: none