#travel-search-container
	border-bottom: $light-border
	margin-bottom: units(5)
	padding-bottom: units(5)
	display: flex
	flex-wrap: wrap
	justify-content: center

	> *:not(.button)
		width: 100%

	> .button
		margin: units(5) auto 0 auto
		display: none