#travel-search-container
	background: white
	//border-bottom: $light-border
	padding-bottom: units(5)
	display: flex
	flex-wrap: wrap
	justify-content: center
	padding-top: units(4)
	@include min($screen-m)
		padding-top: units(5)

	&.active
		> .button, .travel-search-field
			display: block

		.travel-search-field
			margin-top: 0
			
		h4
			display: none

	> *:not(.button)
		width: 100%

	> .button
		margin: units(3) auto 0 auto
		display: none