---
title: Cards
layout: library
---

= partial "shared/library/component", :locals => {:element=>"shared/cards/card",:element_data=>data.cards.example_cards[0], :title=>"Basic card", :usage=>"Don't use this EVAR"}
= partial "shared/library/component", :locals => {:element=>"shared/cards/card",:element_data=>data.cards.example_cards[1], :title=>"Full card", :usage=>"Don't use this EVAR"}
= partial "shared/library/component", :locals => {:element=>"shared/cards/card",:element_data=>data.cards.example_cards[2], :title=>"Article card", :usage=>"Don't use this EVAR"}