- content = data[config[:client]].content
%footer#main-footer
	%div
		= partial "shared/privacy_links"
		%ul#footer-numbers
			- if content.footerNumbers
				- content.footerNumbers.each do |number|
					%li
						%p= number.title
						%p= number.number
		- if content.footerCopy
			%p#footer-copy= content.footerCopy
