%section#header-logo-bar
	%div
		#logo
			%a{:href => "/"}
		#powered-by-ten

%section#header-nav-bar
	%nav
		= partial "shared/navigation"

		%ul#sub-nav{:class => data[config[:client]].content.navTheme}
			-# %li.search
			%li.profile
				= link_to 'Profile', '/profile'
			%li#main-menu-button
				%a

%section#header-breadcrumb-bar
	%div
		%ul
			= breadcrumbs(current_page)

%section#navigation-overlay