#filters
	%ul
		= partial "shared/ui/filter_button", :locals => { :title => "Category" }
		= partial "shared/ui/filter_button", :locals => { :title => "Category" }
		= partial "shared/ui/filter_button", :locals => { :title => "Category" }
		= partial "shared/ui/filter_button", :locals => { :title => "Category" }