#filters
	%ul
		= partial "shared/ui/filter_button", :locals => { :title => "Star rating" }
		= partial "shared/ui/filter_button", :locals => { :title => "Price range" }
		= partial "shared/ui/filter_button", :locals => { :title => "Ameneties" }