#filters
	%ul
		= partial "shared/ui/filter_button", :locals => { :title => "Car type" }
		= partial "shared/ui/filter_button", :locals => { :title => "Providers" }
		= partial "shared/ui/filter_button", :locals => { :title => "Ameneties" }
		= partial "shared/ui/filter_button", :locals => { :title => "Price range" }
