#filters
	%ul
		= partial "shared/ui/filter_button", :locals => { :title => "Airline" }
		= partial "shared/ui/filter_button", :locals => { :title => "Class" }
		= partial "shared/ui/filter_button", :locals => { :title => "Price range" }
		= partial "shared/ui/filter_button", :locals => { :title => "Stops" }