footer#main-footer
	min-height: units(12)
	background: $footer-background
	color: $footer-color
	padding: units(3) units(2) units(7) units(2)

	@include min($screen-m)
		padding: units(5) units(2) units(10) units(2)

	.privacy-links, #footer-numbers
		@include min($screen-m)
			display: flex
			justify-content: center
			align-items: center

	.privacy-links
		margin-bottom: units(3)

		@include min($screen-m)
			margin-bottom: units(1)

		li
			@extend %body-1
			padding: units(0.5) 0

			@include min($screen-m)
				margin: 0 units(2)

	#footer-numbers
		margin-bottom: units(2)
		li
			@extend %body-1
			display: flex
			align-items: center

			@include min($screen-m)
				margin: 0 units(1)

			p
				margin: 0

				&:first-child
					opacity: 0.7
					margin-right: units(0.5)

				&:last-child
					@extend %bold

	#footer-copy
		max-width: size(700)
		margin: 0 auto
		@extend %caption
		opacity: 0.7

		@include min($screen-m)
			text-align: center