label
  display: block

input[type="text"], input[type="email"], textarea
  display: block
  width: 100%

input[type="text"]
  height: 5rem
  border: $form-border

textarea
  height: 14rem
  border: $form-border

input[type="submit"]
  width: 100%

input[type="radio"]
  display: inline
  width: auto

form
  width: 100%