@import "profile/_details.css.sass"
@import "profile/_preferences.css.sass"
@import "profile/_activities.css.sass"
@import "profile/_profile_cards.css.sass"
@import "profile/_activities_list.css.sass"
@import "profile/_add_details_form.css.sass"

#profile-page

	.header-panel
		@extend %content-column
		margin-bottom: units(5) !important
		margin-top: units(3) !important

		> div
			@extend %sub-header			

	.main-panel
		@extend %content-column
		padding: units(5) units(2)
		background: $grey-lightest

		> div
			@extend %sub-header