// fixed spacing variables - subject to change LOL
$units: 8
//
$space-s: units(1)
$space-m: units(2)
$space-l: units(3)
$space-xl: units(5)
//
$screen-xs: 350px
$screen-s: 550px
$screen-m: 770px
$screen-l: 1080px
$screen-xl: 1200px
$screen-xxl: 1400px
//
//SIZES
$nav-height-mobile: 10rem
$nav-height-desktop: 13rem
//GLOBAL Z-INDEXES - groups into 1000s
$z-nav: 10000
$z-overlay: 11000
//
// -------- //
// CUSTOMISATION
// -------- //
//
// COLOURS
//
$black: #141413 !default
$text-colour: $black !default
$red: #D62D28 !default
$cta: $black !default
$grey-lightest: #F4F4F4 !default
$grey-light: #D4D4D4 !default
//
// FONTS //
//
$font-light: "MarkForMC Nrw Light", Arial, sans-serif !default
$font-regular: "MarkForMC Nrw", Arial, sans-serif !default
$font-book: "MarkForMC Nrw Book", Arial, sans-serif !default
$font-medium: "MarkForMC Nrw Medium", Arial, sans-serif !default
$font-bold: "MarkForMC Nrw Bold", Arial, sans-serif !default
//
// HEADER //
//
$header-logo-bar-height: 56 !default
$header-logo-bar-image: image-url("logos/nike-logo.png") !default
$header-logo-bar-powered-by-ten-image: image-url("logos/powered-by-ten.png") !default
$header-logo-bar-background: $black !default
//
$header-nav-bar-background: $black !default
$header-nav-bar-color: white !default
$header-nav-bar-height: 56 !default
$header-nav-bar-border: 1px solid rgba(white, 0.2) !default
$header-nav-bar-text-transform: none !default
$header-nav-bar-text-size: 14 !default
$header-nav-bar-text-letter-spacing: 0 !default
$header-nav-bar-alignment: center !default
//
$header-breadcrumb-bar-background: lighten($black, 10%) !default
$header-breadcrumb-bar-color: white !default
$header-breadcrumb-bar-height: 36 !default
//
// FOOTER //
$footer-background: $black !default
$footer-color: white !default
//
//
// CARDS //
//
$card-benefits-icon: image-url("icons/benefits.svg") !default
//
// GENERAL ICONS //
//
$icon-heart: image-url("icons/heart.svg") !default
$icon-star: image-url("icons/star.svg") !default
$icon-star-empty: image-url("icons/star-empty.svg") !default
// 
// BORDERS //
//
$form-border: 1px solid rgba($text-colour, 0.2) !default
$light-border: 1px solid rgba($text-colour, 0.2) !default
//
// BUTTONS //
//
$button-border-radius: 0 !default