//
$space-s: units(1)
$space-m: units(2)
$space-l: units(3)
$space-xl: units(5)
//
//SIZES
$nav-height-mobile: 10rem
$nav-height-desktop: 13rem
//GLOBAL Z-INDEXES - groups into 1000s
$z-nav: 10000
$z-overlay: 11000
//
// -------- //
// CUSTOMISATION
// -------- //
//
// COLOURS
//
$black: #141413 !default
$text-colour: $black !default
$red: #D62D28 !default
$cta: $black !default
$grey-lightest: #F4F4F4 !default
$grey-light: #D4D4D4 !default
$grey-medium: #8D8D8d !default
//
// FONTS //
//
$font-light: "MarkForMC Nrw Light", Arial, sans-serif !default
$font-regular: "MarkForMC Nrw", Arial, sans-serif !default
$font-book: "MarkForMC Nrw Book", Arial, sans-serif !default
$font-medium: "MarkForMC Nrw Medium", Arial, sans-serif !default
$font-bold: "MarkForMC Nrw Bold", Arial, sans-serif !default
//
// HEADER //
//
$header-logo-bar-height: units(7) !default
$header-logo-bar-alignment: space-between !default
$header-logo-bar-image: image-url("logos/nike-logo.png") !default
$header-logo-bar-powered-by-ten-image: image-url("logos/powered-by-ten.png") !default
$header-logo-bar-background: $black !default
//
$header-nav-bar-background: $black !default
$header-nav-bar-color: white !default
$header-nav-bar-height: units(7) !default
$header-nav-bar-border: 1px solid rgba(white, 0.2) !default
$header-nav-bar-text-transform: none !default
$header-nav-bar-text-size: 14 !default
$header-nav-bar-text-letter-spacing: 0 !default
$header-nav-bar-alignment: center !default
//
$header-breadcrumb-bar-background: lighten($black, 10%) !default
$header-breadcrumb-bar-color: white !default
$header-breadcrumb-bar-height: units(4) !default
//
// GENERAL ICONS //
//
$icon-heart: image-url("icons/heart.svg") !default
$icon-star: image-url("icons/star.svg") !default
$icon-star-empty: image-url("icons/star-empty.svg") !default
$icon-flights: image-url("icons/flights.svg") !default
$icon-hotels: image-url("icons/hotels.svg") !default
$icon-cars: image-url("icons/cars.svg") !default
$icon-close-light: image-url("icons/icon-close-white.svg") !default
$icon-close-dark: image-url("icons/icon-close-black.svg") !default
//
// FOOTER //
//
$footer-background: $black !default
$footer-color: white !default
//
// MENU
//
$main-menu-background: $black !default
$main-menu-color: white !default
//
// CARDS //
//
$card-grid-highlight: $grey-lightest !default
$card-grid-highlight-title-color: $black !default
$card-benefits-icon: image-url("icons/benefits.svg") !default
$card-heart-icon: image-url("icons/heart.svg") !default
$card-star-icon: $icon-star !default
$card-star-empty-icon: $icon-star-empty !default
$card-content-bg: white !default
$card-content-color: $black !default

// 
// BORDERS //
//
$form-border: 1px solid rgba($text-colour, 0.2) !default
$light-border: 1px solid $grey-light !default
//
// BUTTONS //
//
$button-border-radius: 0 !default