#basket-summary
	%header
		%h2 Check rates & availability
	.content
		.date-picker
			%div
				%h5 Check in
				%p 20 Jun 2018
			%div
				%h5 Check out
				%p 28 Jun 2018
		.button Check availability