#basket-summary
	%header
		%h2 Book a hot table
	.tabs-container
		= partial "shared/ui/tabs", :locals => { :tabs => ["Book", "Request"], :selectedIndex => 0 }
	.content
		.payment-option
			%h5 Sat 30 December 2017
			%p <span>8:00 PM</span> Table for 4
			.button Book table
		.payment-option
			%h5 Tues 2 Jan 2018
			%p <span>8:00 PM</span> Table for 4
			.button Book table
		.payment-option
			%h5 Thurs 4 Jan 2018
			%p <span>8:00 PM</span> Table for 4
			.button Book table