#basket-summary
	%header
		%h2 Book now
	.content
		.payment-option
			%h5 Pay now
			%p £<span>230</span> Tax inc
			.button Book
		.payment-option
			%h5 Pay later
			%p £<span>250</span> Tax inc
			.button Book