#article
	@extend %content-column
	background: white

	.image
		height: 80vh
		background-size: cover
		background-position: center center

	.content
		padding: units(7) units(5)

		> div
			max-width: units(80)
			margin: 0 auto

		header

			.meta
				display: flex
				align-items: center
				@extend %body-1
				margin-bottom: units(2)

				.profile
					width: units(7)
					height: units(7)
					border-radius: 500px
					background-size: cover
					background-position: center center
					margin-right: units(1)

				.author
					@extend %bold

			h1
				margin-bottom: units(2)
				@extend %display-4

			p
				@extend %display-1
				@extend %paragraph

		section
			img
				width: 100%
				margin: units(4) 0
			@extend %typography-hierarchy