#travel-search-container
	= partial "shared/travel/search_buttons"
	= partial "shared/travel/search_field_flights"
	= partial "shared/travel/search_field_hotels"
	= partial "shared/travel/search_field_cars"
	.button.inline Search