#travel-progress
	%ul
		%h4= title
		%div
			- sections.each_with_index do |section, index|
				- activeClass = ""
				- if(index < selectedIndex)
					- activeClass = "past"
				- elsif(index == selectedIndex)
					- activeClass = "active"

				%li{ :class => activeClass  }
					= section