---
title: Search
---

= partial "shared/travel/travel_search"
= partial "shared/articles/article_grid", :locals => { :cards => data.articles.travel,  :title => "Recommended travel articles", :total => 6 }