---
title: Entertainment
---

= partial "shared/search/search_panel", :locals => { :type => "entertainment", :title => "Search Entertainment" }
= partial "shared/cards/card_grid", :locals => { :cards => data.cards.recommend_entertainment, :title => "New tickets", :type => "highlight" }
= partial "shared/articles/article_grid", :locals => { :cards => data.articles.entertainment,  :title => "Recommended entertainment articles", :total => 6 }