#card-grid
	@extend %content-column
	@extend %card-grid
	background-color: $grey-lightest

	&.zebra, &.highlight
		padding: units(5) units(2) units(7) units(2)
		
	&.zebra
		background-color: darken($card-grid-zebra, 5%)
		> header h3
			color: $card-grid-zebra-title-color
	&.highlight
		background-color: $card-grid-highlight
		> header h3
			color: $card-grid-highlight-title-color