#card-grid
	@extend %content-column
	@extend %card-grid
	background-color: $grey-lightest

	&.zebra, &.highlight
		padding: units(1) units(2) units(5) units(2)
		
	&.zebra
		background: $card-grid-zebra
		> header h3
			color: $card-grid-zebra-title-color
	&.highlight
		background: $card-grid-highlight
		> header h3
			color: $card-grid-highlight-title-color