#details-overview
	> div

		> div
			position: relative
			padding-bottom: units(4)
			border-bottom: $light-border
			margin-bottom: units(3)

			.edit
				left: 0
				bottom: units(2)

			h4
				@extend %caption
				@extend %bold
				text-transform: uppercase

			p
				@extend %display-1
				@extend %light
				margin-bottom: units(3)

	@include min($screen-m)
		> div
			display: flex
			> div
				flex: 1
				padding: 0 units(2)
				border-bottom: none
				margin-bottom: 0

				.edit
					left: units(2)

				&:not(:last-child)
					border-right: $light-border

				&:first-child
					padding-left: 0
					.edit
						left: 0

// --------------------- //

#details-cards

	> div
		@extend %card-grid
		margin-bottom: units(5)

		> ul
			margin-top: units(2)