$gallery-height: 60vh
$gallery-slide-width: 82
$gallery-remainder: (100-$gallery-slide-width) / 2

#details-single-image
	height: $gallery-height
	background-size: cover
	background-position: center center
	border-bottom: $light-border

#details-gallery
	background: $grey-lightest
	border-bottom: $light-border
	position: relative
	-webkit-user-select: none
	user-select: none
	> div
		height: $gallery-height
		width: $gallery-slide-width + vw
		margin-left: $gallery-remainder + vw
		position: relative
		> div
			position: relative
		.slide
			height: $gallery-height
			background-size: cover
			background-position: center center
			position: absolute

	ul#gallery-nav
		position: absolute
		bottom: units(2)
		left: 50%
		transform: translateX(-50%)
		z-index: 100
		display: flex
		li
			width: units(1)
			height: units(1)
			border-radius: 500px
			background: white
			opacity: 0.4
			cursor: pointer
			&:not(:last-child)
				margin-right: units(1)

			&.active
				opacity: 1

	.arrow
		position: absolute
		top: 0
		width: $gallery-remainder + vw
		height: 100%
		background: rgba(white, 0.3)
		@include animate(0.1s)

		> div
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: units(5)
			height: units(5)
			border-radius: 500px
			background-color: rgba(white, 0) 
			background-position: center center
			background-repeat: no-repeat
			background-size: auto 50%
			z-index: 1000
			@include animate(0.1s)

		&:not(&.active)
			cursor: pointer
			&:hover
				background-color: rgba(white, 1)
				>	div
					width: units(9)
					height: units(9)

		&.active
			>	div
				opacity: 0.3

		&#prev-arrow
			left: 0
			>	div
				background-image: $gallery-arrow-icon-left
		&#next-arrow
			right: 0
			>	div
				background-image: $gallery-arrow-icon-right