---
title: Search
---

= partial "shared/search/search_summary", :locals => { :title => "LHR - NYC", :subtitle => "Undertime of all" }
= partial "shared/ui/filters_flights"
= partial "shared/articles/article_grid", :locals => { :cards => data.articles.travel }