---
title: Sushisamba
---

- page_data = data.details.dining

= partial "shared/details/details_single_image", :locals => page_data
= partial "shared/details/details_header", :locals => page_data
#details-main
	%div
		= partial "shared/details/details_content", :locals => page_data
		= partial "shared/details/basket_summary_hot_table", :locals => page_data